body{
    background-image: url(images/back1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: auto auto;
}
.k{
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 30px;
    color: aliceblue;
    border: 3px solid white;
    background-color: black;
    border-radius: 30px;
}

.k2{
    text-align: center;
    font-size: 23px;
    color: aliceblue;
    border: 3px solid white;
    background-color: black;
    border-radius: 30px;
    margin: 20px;
}

.t{
    height: 470px;
    width: 750px;
}

@media screen and (max-width:600px) {
    .k{
        font-size: 30px;
    }
    .t{
        height: 200px;
        width: 380px;
    }
    .k2{
        font-size: 19px;
    }
}
